<!DOCTYPE html>
      <html lang="en" xmlns:th="http://www.thymeleaf.org">
      <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="icon" href="imagenes/icono-sunn.png" type="image/x-icon">
      <title>Sunn - Login</title>
</head>
<body class="bg-black">
<main class="h-[100vh] lg:flex">
  <div class="">
    <img th:src="@{/imagenes/logo-sunn.png}" class="lg:w-[45%] w-[70%]" alt="logo-sunn">

    <div class="mt-16 pb-4">

      <h3 class="text-white text-4xl text-center"></h3>

      <div th:each="lista : ${listaReproduccion}">
          <p th:text="${lista.noticia.titulo}" class="text-white"></p>
      </div>
    </div>
  </div>

</main>
<footer>

</footer>
</body>
</html>