<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="imagenes/icono-sunn.png" type="image/x-icon">
    <title>Sunn - Login</title>
</head>
<body class="">
<main class="h-[100vh] lg:flex">
    <div class="bg-black lg:w-[40%]">
        <img th:src="@{/imagenes/logo-sunn.png}" class="lg:w-[45%] w-[70%]" alt="logo-sunn">

        <div class="mt-16 pb-4">

            <h3 class="text-white text-4xl text-center">Iniciar Sesión</h3>

            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}" class="flex flex-col mt-14 mb-14" accept-charset="UTF-8">

                <input th:field="*{email}" type="text" name="email" class="lg:w-[70%] w-[80%] h-[45px] mx-auto mb-8 pl-2 text-white text-xl bg-black border border-black border-b-[#444]" placeholder="Email" required>
                <input th:field="*{password}" type="password" name="password" class="lg:w-[70%] w-[80%] h-[45px] mx-auto mb-2 pl-2 text-white text-xl bg-black border border-black border-b-[#444]" placeholder="Contraseña" required>

                <a href="#" class="text-s text-white text-right lg:mr-20 mr-8">Olvidé mi contraseña</a>

                <input type="submit" class="mt-6 mx-auto lg:w-[40%] w-[50%] h-[40px] text-xl bg-[#5C67DE] rounded-2xl" value="Iniciar Sesión" name="iniciarSesion" style="padding: 5px">
                <a href="redirigirAVistaRegistro" class="mt-6 mx-auto lg:w-[40%] w-[50%] h-[40px] text-xl bg-[#5C67DE] rounded-2xl" style="text-align: center; padding: 5px">Registrarse</a>
            </form>



        </div>

    </div>
    <div class="bg-[#1A1A1A] lg:w-[60%] p-10">
        <p class="text-white text-2xl text-left lg:mt-48 mt-8"><strong class="text-3xl">Bienvenidos a SUNN</strong>, <br> la red social donde podrás informarte con las noticias más importantes del mundo.</p>
        <h1 class="text-white text-xl text-right mt-10">¿No tenés una cuenta? ¡Registrate gratis!</h1>
    </div>
</main>
<footer>

</footer>
</body>
</html>