<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css"/>
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <!--Slick-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <title>Admin</title>
    <link rel="icon" th:href="@{/imagenes/icono-sunn.png}" type="image/x-icon">

</head>

<body class="bg-white">

<!-- Main navigation container -->
<nav style="background-color: black"
     class="flex-no-wrap relative flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-md shadow-black/5 dark:bg-black dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4">
    <div class="flex w-full flex-wrap items-center justify-between px-3">
        <!-- Logo -->
        <a class="mb-4 ml-1  mt-3 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mb-0 lg:mt-0"
           th:href="@{/admin/home}">
            <img src="https://www.metal-archives.com/images/6/1/2/612_logo.jpg?5737" style="height: 15px"
                 alt="TE Logo" loading="lazy"/>
        </a>


        <!-- Right elements -->
        <div class="relative flex items-center">
            <!-- Second dropdown container -->
            <div class="relative" data-te-dropdown-ref data-te-dropdown-alignment="end">
                <!-- Second dropdown trigger -->
                <a class="hidden-arrow flex items-center whitespace-nowrap transition duration-150 ease-in-out motion-reduce:transition-none"
                   href="" id="dropdownMenuButton2" role="button" data-te-dropdown-toggle-ref
                   aria-expanded="false">
                    <!-- User avatar -->
                    <img th:src="@{${usuario.getFotoPerfil()}}" th:alt="@{${usuario.getAltFotoPerfil()}}" class="rounded-full"
                         style="height: 25px; width: 25px" loading="lazy"/>
                </a>
                <!-- Second dropdown menu -->
                <ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                    aria-labelledby="dropdownMenuButton2" data-te-dropdown-menu-ref>
                    <!-- Second dropdown menu items -->

                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
                           th:href="@{/perfil/admin}" data-te-dropdown-item-ref style="background-color: rgb(85 85 85); color:white">Ver Perfil</a>
                    </li>

                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
                           th:href="@{/informes}" data-te-dropdown-item-ref style="background-color: rgb(85 85 85); color:white">Informes</a>
                    </li>

                    <li>
                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
                           th:href="@{/eliminar-noticia}" data-te-dropdown-item-ref style="background-color: rgb(85 85 85); color:white">Borrar noticias</a>
                    </li>

                    <li class="bg-danger">
                        <a class=" block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
                           th:href="@{/cerrar-sesion}" data-te-dropdown-item-ref style="background-color: red; color:white">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<nav id="bar" class="flex justify-center">
    <div class="flex md:flex-row justify-between items-center my-4 space-x-4">
        <a th:href="@{/admin/home}" class="bg-black text-white px-4 py-2 rounded-md hover:bg-green-900">Inicio</a>
        <a th:href="@{/eliminar-noticia}" class="bg-black text-white px-4 py-2 rounded-md hover:bg-green-900">Ver noticias</a>
        <a th:href="@{/admin/usuarios}" class="bg-black text-white px-4 py-2 rounded-md hover:bg-green-900">Ver usuarios</a>
        <a th:href="@{/informes}" class="bg-black text-white px-4 py-2 rounded-md hover:bg-green-900">Informes</a>
        <a th:href="@{/noticias-mas-likeadas}" class="bg-black text-white px-4 py-2 rounded-md hover:bg-green-900">Noticias más likeadas</a>
    </div>
    <form th:action="@{/fecha}" method="GET" class="ml-4 flex items-center">
        <label for="simple-search" class="sr-only">Buscar por fecha</label>
        <input type="date" id="simple-search" name="fecha-publicacion"
               class="px-3 py-2 border border-neutral-300 rounded-md focus:outline-none focus:border-primary-500 bg-black text-white">
        <button type="submit" class="bg-green-900 text-white px-4 py-2 rounded-md ml-2 hover:bg-green-700">Buscar</button>
    </form>
</nav>

<!-- Main navigation container -->
<hr class="h-px max-w-4xl m-auto my-2 border-0 bg-white">
<main class="p-2 ">
    <h1 class="text-black text-center font-bold text-6xl m-5">Las noticias mas likeadas</h1>
    <div th:each="noticia : ${noticias}">
        <div th:if="${noticia.getClass().simpleName == 'Noticia'}" class="max-w-4xl my-4 py-6 rounded-lg m-auto text-white bg-black p-3">
            <div class="flex items-center">

                <div class="mr-2" th:if="${noticia.esAnonima == false}">
                    <form th:action="@{/perfil}" method="POST">
                        <button class="flex items-center" th:value="${noticia.usuario.getIdUsuario()}"
                                name="idUsuario">
                            <img class="mr-3 w-10 h-10 object-cover rounded-full"
                                 th:src="@{${noticia.getUsuario().fotoPerfil}}"
                                 th:alt="@{${noticia.getUsuario().altFotoPerfil}}">
                            <h3 class="font-bold" th:text="${noticia.usuario.getNombre()}"></h3>
                        </button>
                    </form>
                </div>

                <div class="mr-2" th:if="${noticia.esAnonima}">
                    <img class="mr-3 w-10 h-10 object-cover rounded-full" src="imagenes/imgsPerfiles/anonimo.png"
                         alt="img-anonimo">
                    <h3 class="font-bold">Anónima</h3>
                </div>

                <p style="padding-left: 20px">
                    Fecha de publicación: <span class="font-light" th:text="${noticia.fechaDePublicacion}"></span>
                </p>
            </div>

            <div class="mt-2 flex">
                <div class="mr-2">
                    <a class="text-2xl font-bold hover:text-gray-300"
                       th:href="'/sunn/publicacion/'+${noticia.idNoticia}" th:text="${noticia.titulo}"></a>
                    <p class="mt-2 sm:block hidden" th:text="${noticia.resumen}"></p>
                </div>
                <div class="imagen-noticia">
                    <a class="flex items-center" href="#"></a>
                    <img class="w-[20rem] sm:h-36 object-cover h-20 m-auto" th:src="@{${noticia.rutaDeimagen}}"
                         th:alt="${noticia.altDeImagen}">
                    </a>
                </div>
            </div>
            <div class="me-gusta">
                <button th:id="${noticia.idNoticia}" class="flex dar-like-btn">
                    <svg th:class="'like_' + ${noticia.idNoticia}" xmlns="http://www.w3.org/2000/svg"
                         height="1.5em" viewBox="0 0 512 512" style="fill:green">
                        <path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/>
                    </svg>
                    <label th:class="'cantidadMG_' + ${noticia.idNoticia} + ' ml-2 text-xl'"
                           th:text="${noticia.likes}"></label>
                </button>
            </div>
        </div>
    </div>
</main>

</body>
</html>