<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body class="bg-black">
<header class="lg:flex justify-around items-center">
  <img src="/public/imgs/logo.jpg" class="lg:w-[15%] w-[60%]">
  <div class="hidden lg:flex w-[75%] justify-around items-center">
    <form>
      <input type="search" class="bg-[#1A1A1A] w-[800px] h-[40px] rounded-2xl text-white pl-4" placeholder="Quiero escuchar...">
    </form>
    <img src="/public/imgs/campanita.png" class="w-[40px] h-[40px]">

    <img src="/public/imgs/fotoPerfil.png" class="w-[60x] h-[60px]">
  </div>
  <div class="lg:hidden w-[100%] flex items-center justify-between px-2 pr-6">
    <form class="w-[80%]">
      <input type="search" class="bg-[#1A1A1A] w-[90%] h-[40px] rounded-2xl text-white pl-4 mr-4 ml-2" placeholder="Quiero escuchar...">
    </form>
    <div class="w-[20%] flex items-center justify-center">
      <img src="/public/imgs/campanita.png" class="w-[40%] mr-2 h-[10%]">

      <img src="/public/imgs/fotoPerfil.png" class="w-[65%]">
    </div>

  </div>
</header>
<main>
  <div class="flex flex-wrap justify-center lg:gap-0 gap-10 mt-4 mb-4">
    <div class="lg:w-[22%] w-[90%] mx-auto rounded-3xl">
      <div class="bg-[#FF490F] rounded-3xl pt-8 pb-8 pl-4 pr-4 lg:mt-16">
        <h1 class="text-white text-xl font-semibold">Premio</h1>
        <h2 class="text-white text-xl"><strong class="text-2xl">$9.99</strong>/mes</h2>
        <ul class="flex flex-col gap-6 mt-6">
          <li class="flex text-white ">
            <img src="/public/imgs/listaOfertas.png" class="w-[18px] h-[24px] mr-2">
            Acceso limitado a la versión <br> de podcast de las notas
          </li>
          <li class="flex text-white">
            <img src="/public/imgs/listaOfertas.png" class="w-[18px] h-[24px] mr-2">
            Pueden elegir dos canales de <br> noticias gratuitos para habilitar <br> la opción de podcast.
          </li>
          <li class="flex text-white">
            <img src="/public/imgs/listaOfertas.png" class="w-[18px] h-[24px] mr-2">
            Pueden generar 3 <br> listas de reproducción
          </li>
        </ul>
        <div class="bg-[#323232] rounded-xl w-[70%] h-[34px] mx-auto flex items-center justify-center mt-10">
          <a href="#" class="font-semibold text-white">En uso</a>
        </div>
      </div>
    </div>

    <div class="lg:w-[24%] w-[90%] mx-auto bg-[#323232] rounded-3xl">
      <h1 class="text-white text-2xl text-center mt-4 font-bold">Más popular</h1>
      <div class="bg-[#5C67DE] rounded-3xl pt-8 pb-8 pl-4 pr-4 mt-2">
        <h1 class="text-white text-xl font-semibold">Premio</h1>
        <h2 class="text-white text-xl"><strong class="text-2xl">$9.99</strong>/mes</h2>
        <ul class="flex flex-col gap-10 mt-6">
          <li class="flex text-white ">
            <img src="/public/imgs/listaOfertas.png" class="w-[18px] h-[24px] mr-2">
            Voice messages anywhere
          </li>
          <li class="flex text-white">
            <img src="/public/imgs/listaOfertas.png" class="w-[18px] h-[24px] mr-2">
            Voice messages anywhere
          </li>
          <li class="flex text-white">
            <img src="/public/imgs/listaOfertas.png" class="w-[18px] h-[24px] mr-2">
            Voice messages anywhere
          </li>
        </ul>
        <div class="bg-[#323232] rounded-xl w-[70%] h-[34px] mx-auto flex items-center justify-center mt-28">
          <a href="#" class="font-semibold text-white">Pagar</a>
        </div>
      </div>
    </div>


    <div class="lg:w-[22%] w-[90%] mx-auto rounded-3xl">
      <div class="bg-[#FF0FAD] rounded-3xl pt-8 pb-8 pl-4 pr-4 lg:mt-16 ">
        <h1 class="text-white text-xl font-semibold">Premio</h1>
        <h2 class="text-white text-xl"><strong class="text-2xl">$9.99</strong>/mes</h2>
        <ul class="flex flex-col gap-6 mt-6">
          <li class="flex text-white ">
            <img src="/public/imgs/listaOfertas.png" class="w-[18px] h-[24px] mr-2">
            Acceso ilimitado a <br> los podcasts
          </li>
          <li class="flex text-white">
            <img src="/public/imgs/listaOfertas.png" class="w-[18px] h-[24px] mr-2">
            Pueden generar listas de <br> reproducción personalizadas <br> con todas  las notas que <br> deseen escuchar.                   </li>
          <li class="flex text-white">
            <img src="/public/imgs/listaOfertas.png" class="w-[18px] h-[24px] mr-2">
            Voice messages anywhere
          </li>
        </ul>
        <div class="bg-[#323232] rounded-xl w-[70%] h-[34px] mx-auto flex items-center justify-center mt-10">
          <a href="#" class="font-semibold text-white">Pagar</a>
        </div>
      </div>
    </div>

  </div>
</main>
<footer>

</footer>
</body>
</html>