<html xmlns:th="http://www.thymeleaf.org">
<th:block  th:if="${error}" >
<span id="error" class="text-red-700" th:text="${error}"></span>
</th:block>

<th:block  th:unless="${error}">
    <th:block th:if="${comentarios}">
        <th:block th:each="comentario : ${comentarios}">
            <article  th:id="'comentario'+${comentario.id}" class="editar-comentario-form p-6 text-base border-t border-gray-200 dark:border-gray-700 bg-black">
                <footer class="flex justify-between items-center mb-2">
                    <div class="flex items-center">
                        <img
                                class="mr-2 w-6 h-6 rounded-full"
                                th:src="'/sunn/'+${usuarioFoto}">
                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold" th:text="${usuarioNombre}"></p>
                        <p class="text-sm text-gray-600 dark:text-gray-400"><time th:text="${fecha}"></time></p>
                    </div>
                    <th:block  th:if="${comentario.idUsuario} eq ${usuarioLogueado}" >
                        <div class="relative">

                            <button class="dropdown-comment-button inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                    type="button" data-target-menu="dropdown-comment-menu">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                    <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                                </svg>
                            </button>

                            <!-- Menú de comentario -->
                            <div  class="dropdown-menu hidden bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 max-w-max"
                                 style="position: absolute; top: 2.5rem; left: -1.5rem;">
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
                                    <li>
                                        <a th:data-id-comentario="${comentario.id}" href="#" class="editar-comentario block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Editar</a>
                                    </li>
                                    <li>
                                        <a th:data-id-comentario="${comentario.id}" href="#" class="eliminar-comentario block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </footer>
                <!--Comentario-->
                <p th:id="'comment-text-'+${comentario.id}" class="text-gray-500 dark:text-gray-400 mb-2" th:text="${comentario.descripcion}"></p>

                <div class="flex items-center mt-4 space-x-4">
                    <button type="button"
                            class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                        <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                        </svg>
                        Reply
                    </button>
                </div>
            </article>
        </th:block>
    </th:block>

    <th:block th:if="${comentario}">
        <article  th:id="'comentario'+${comentario.id}" class="editar-comentario-form p-6 text-base border-t border-gray-200 dark:border-gray-700 bg-black">
            <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                    <img
                            class="mr-2 w-6 h-6 rounded-full"
                            th:src="'/sunn/'+${usuarioFoto}">
                    <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold" th:text="${usuarioNombre}"></p>
                    <p class="text-sm text-gray-600 dark:text-gray-400"><time th:text="${fecha}"></time></p>
                </div>
                <th:block  th:if="${propietario}" >
                    <div class="relative">

                        <button class="dropdown-comment-button inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                type="button" data-target-menu="dropdown-comment-menu">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                            </svg>
                        </button>

                        <!-- Menú de comentario -->
                        <div id="dropdown-comment-menu" class="dropdown-menu hidden bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 max-w-max"
                             style="position: absolute; top: 2.5rem; left: -1.5rem;">
                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
                                <li>
                                    <a th:data-id-comentario="${comentario.id}" href="#" class="editar-comentario block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Editar</a>
                                </li>
                                <li>
                                    <a th:data-id-comentario="${comentario.id}" href="#" class="eliminar-comentario block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </th:block>
            </footer>
            <!--Comentario-->
            <p th:id="'comment-text-'+${comentario.id}" class="text-gray-500 dark:text-gray-400 mb-2" th:text="${comentario.descripcion}"></p>

            <div class="flex items-center mt-4 space-x-4">
                <button type="button"
                        class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                    <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                    </svg>
                    Reply
                </button>
            </div>
        </article>
    </th:block>
</th:block>

